<!--{%  extends 'css/master.css' %}-->
<!--{%  block content %}-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Udacity</title>
    <link rel="stylesheet" href="../Styles/master.css">
</head>
<body>

    <div class="login-box"> 
        <img class="avatar" src="../img/udacity-logo.png" alt="logo Udacity">
        <h1>Iniciar Sesion</h1>
        <form >
            <!--username-->
            <label for="Nombre de usuario">Nombre de Usuario</label>
            <input type="text" placeholder="Ingrese el nombre de usuario">
            <!--password-->
            <label for="Contraseña">Contraseña</label>
            <input type="password" placeholder="Introdusca la Contraseña">

            <input type="submit" value="Iniciar Sesion">

            <a href="#" >Olvidaste tu contraseña</a><br>
            <a href="#" >No tienes cuenta? Registrate</a>
        </form>
        



    </div>
</body>
</html>
<!--{% endblock %}